<%= render 'shared/errors' %>

<%= form_for(@movie) do |f| %>
  <p>
    <%= f.label :translated_title %><br />
    <%= f.text_field :translated_title, autofocus: true %>
  </p>
  <p>
    <%= f.label :english_title %><br />
    <%= f.text_field :english_title %>
  </p>
  <p>
    <%= f.label :roman_title %><br />
    <%= f.text_field :roman_title %>
  </p>
  <p>
    <%= f.label :native_title %><br />
    <%= f.text_field :native_title %>
  </p>
  <p>
    <%= f.label :poster_file_name %><br />
    <%= f.text_field :poster_file_name, size: 30, placeholder: "GIF, JPG, hoặc PNG" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :num_of_episodes %><br />
    <%= f.number_field :num_of_episodes %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :aired_from %><br />
    <%= f.date_select :aired_from %>
  </p>
  <p>
    <%= f.label :aired_to %><br />
    <%= f.date_select :aired_to %>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to "Hủy", movies_path %>
  </p>
<% end %>