<h1><%= @movies.size %> phim</h1>

<nav>
  <%= link_to "Thêm", new_movie_path %>
</nav>

<div class="py-8 px-6 grid grid-cols-4 gap-x-12">
  <% @movies.each do |movie| %>
      <article>
        <a href="<%= movie_path(movie) %>">
          <%= poster_for(movie) %>
        </a>
        <header class="my-2">          
          <h2 class="font-bold text-lg">
            <%= link_to(movie.translated_title, movie_path(movie)) %>
            (<%= movie.year %>)
          </h2>
          <main>
            <p><%= movie.aired_from %></p>
            <p>Số tập: <%= movie.num_of_episodes %></p>
          </main>
        </header>
      </article>
  <% end %>
</div>
