<nav>
  <%= link_to "Tất cả các phim", movies_path %>
</nav>
<br />

<h1><%= @movie.translated_title %></h1>
<%= poster_for(@movie) %>
<p><%= @movie.description %></p>
<table>
  <tr>
    <td>Chiếu từ:</td>
    <td><%= format_date(@movie.aired_from) %></td>
  </tr>
  <tr>
    <td>Chiếu đến:</td>
    <td><%= format_date(@movie.aired_to) %></td>
  </tr>
</table>


<br />
<nav>
  <%= link_to 'Sửa', edit_movie_path(@movie) %>
  <%= link_to "Xóa", movie_path(@movie), method: :delete,  data: { confirm: 'Thao tác này không thể hoàn tác, bạn có chắc muốn xóa phim này?'} %>
</nav>