<!DOCTYPE html>
<html>
  <head>
    <title>Review Phim Thái</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-900 pt-12" style="background-image: url(https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABRkG3OBs7kSP0_jH79HuzGypUyH-OJupDBCosYj8OXWtBg8v8iC-IdK_295ACm9-luBMJAjFFCl1Zm4GCal_OmS9_nlc.jpg?r=4ac); background-repeat: no-repeat; background-size: cover;">
  <div class="bg-black max-w-6xl mx-auto text-white min-h-screen">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/header'%>
    <%= yield %>
    <div>
  </body>
</html>
